<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html><!--<![endif]-->
<head>
  <link rel="author" href="Tomás Hernández"/>
  <link rel="canonical" href="<%=htmlWebpackPlugin.options.data.url%>"/>
  <title><%=htmlWebpackPlugin.options.data.title%></title>
  <link rel="manifest" href="<%=htmlWebpackPlugin.options.data.assets%>/favicons/manifest.json">
  <meta name="description" content="<%=htmlWebpackPlugin.options.data.description%>"/>
  <meta name="keywords" content="<%=htmlWebpackPlugin.options.data.keywords%>"/>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <!-- App  -->
  <meta name="msapplication-navbutton-color" content="<%=htmlWebpackPlugin.options.data.color%>"/>
  <!-- Social - Google+ -->
  <meta itemprop="name" content="<%=htmlWebpackPlugin.options.data.title%>"/>
  <meta itemprop="description" content="<%=htmlWebpackPlugin.options.data.description%>"/>
  <meta itemprop="image" content="<%=htmlWebpackPlugin.options.data.image%>"/>
  <!-- Social - Facebook -->
  <meta property="og:title" content="<%=htmlWebpackPlugin.options.data.title%>"/>
  <meta property="og:description" content="<%=htmlWebpackPlugin.options.data.description%>"/>
  <meta property="og:image" content="<%=htmlWebpackPlugin.options.data.image%>"/>
  <meta property="og:site_name" content="<%=htmlWebpackPlugin.options.data.siteName%>"/>
  <!-- Social - Twitter -->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="<%=htmlWebpackPlugin.options.data.title%>"/>
  <meta name="twitter:description" content="<%=htmlWebpackPlugin.options.data.description%>"/>
  <meta name="twitter:image" content="<%=htmlWebpackPlugin.options.data.image%>"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div id="app"></div>
</body>
</html>
